assc
coverage
data/*
docker-compose.override.yml
node_modules/
rubocop-result.json
.byebug_history
.sass-cache
.scannerwork/
.rspec
.rvmrc
.ruby-gemset
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/public/assets/*
/vendor/assets/components
/coverage/

spec/examples.txt
spec/tmp/*
spec/angular/tmp/*

**.orig
**.log
rerun.txt
.project
.idea
phantomjsdriver.log
prod_check_cookies
ui_third_party_oss_licenses.csv

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

docs/doc.html

**.DS_Store
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity

**.d.ts
!declarations.d.ts