<!DOCTYPE html>
<html lang="en" ng-app="RoadTripApp" ng-strict-di ng-csp>
  <head>
    <title>RoadTrip</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'main'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
